.drive-results{
    width: 85%;
}

.drive-results h2{
    margin-left: 150px;
}

.addResult-button{
    margin-left: 600px !important;
}

.results-table{
    width: 70%;
}

.results-table th{
    font-size: 20px;
}

.results-table td{
    font-size: 20px;
}

